$link-list: #599468;
$lines: #2a6739;
$hilight-on-dark: #fffcfb;
$main-bg: #003e10;

$background: #06171e; // from light
$text-color: #fffcfb;
$selection: #fffcfb; // from light
$line: #fffcfb; // from light
$comment: #5f5f5f; // from light
$red: #cc6666;
$orange:  #ffb334;
$green: #b5bd68;
$aqua: #8abeb7;
$blue: #81a2be;
$purple: #b294bb;
$window: #303030;
$header-color: #06171e;
$addbg: #5F875F;
$addfg: #d7ffaf;
$changebg: #5F5F87;
$changefg: #d7d7ff;
$delbg: #cc6666;
$darkblue: #00005f;
$darkcyan: #005f5f;
$darkred: #5f0000;
$darkpurple: #5f005f;

@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@400;700&display=swap');

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: Rokkitt, sans-serif;
  background: $background;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 400;
  color: $orange;
  line-height: .9;
}

article {
  font-size: 1.1rem;
}

a:link, a:visited {
  text-decoration: none;
}

nav {
  &.header {
    display: flex;
    background-color: $header-color;
    div.nav-left {
      width: 100%;
    }
    div.nav-center {
      ul > a {
        text-transform: uppercase;
        font-size: .85em;
        font-weight: bold;
      }
    }
    div.nav-right {
      width: 100%;
    }
    h2 {
      color: $orange;
    }
    ul {
      list-style: none;
      margin: 0;
      font-size: 1.2em;
      display: flex;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $orange;
        margin: 1em 1em .8em 1em;
      }
    }
  }
  &.groups {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    width: 100%;
    position: absolute;
    background-color: $header-color;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 1rem;
    }
    .group-card {
      opacity: 1;
      transition: opacity .2s linear;
      ul {
        li {
          a {
            color: $line;
            &:hover {
              color: $green;
            }
          }
        }
      }
      h2 {
        color: $orange;
        margin-bottom: .2rem;
        > a {
          color: $orange;
        }
      }
    }
  }
}

.container {
  position: relative;
  a:visited, a:link {
    color: $text-color;
  }
}

#main {
  transition: transform .3s ease-out;
  z-index: 1;
  background: $background;
  // padding: 1rem;
  border-top: solid 2px $orange;
  .article--blog {
    padding: 0 25%;
  }
  .article--notes {
    padding: 0 10%;
  }
  article {
    color: $text-color;
    h1, h2, h3, h4, h5, h6 {
      color: $orange;
    }
    strong {
      color: $orange;
    }
    a {
      color: $orange;
      text-decoration: underline;
      &:hover {
        color: $green;
      }
    }
    section.footnotes {
      hr {
        display: none;
      }
      ol {
        margin: 0 1.5em 2em 0;
        padding-left: 1em;
        font-size: 1em;
        li p {
          margin: 0;
          font-size: .9em;
          .footnote-backref {
            font-size: .7em;
          }
        }
      }
    }
    h2#lähteet {
      margin-bottom: 0;
    }
  }
  code {
    border: dotted 1px $orange;
    background: $header-color;
    padding: 2px;
  }
  pre {
    padding: .6rem;
    font-size: .9rem;
    border-left: solid 2px $orange;
    code {
      padding: 0;
      background: none;
      border: none;
    }
  }
  sup {
    font-size: .5em;
    a {
      text-decoration: none;
      font-weight: normal;
    }
  }
  .main-note {
    display: grid;
    grid-template-columns: 300px auto;
    .--sidebar {
      background-color: #001f2b;
      h2 {
        margin-left: 1em;
        margin-bottom: .3em;
        color: $orange;
      }
      @mixin sidebar-border {
        border-left: solid 2px $main-bg;
        padding-left: .3em;
        li > a:hover {
          color: $green;
        }
      }
      ul {
        list-style: none;
        color: $line;
        padding: 0;
        margin: 0;
        margin-left: 1.5em;
        @include sidebar-border;
        ul {
          margin: 0;
          @include sidebar-border;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  &:hover {
    width: 16px;
  }
}
::-webkit-scrollbar-track {
  background: #001F2B;
}
::-webkit-scrollbar-thumb {
  background: $orange;
  &:hover {
    background: $green;
  }
}

#blogit {
  z-index: -2;
}

#muistiinpanoja {
  z-index: -2;
}

.hidden {
  display: none;
}

// .container {
//   display: grid;
//   grid-template-columns: 1fr 3fr;
//   height: 100vh;
//   a {
//     font-weight: none;
//     text-decoration: none;
//     color: $hilight-on-dark;
//   }
//   nav.sidebar {
//     background: $main-bg;
//     text-align: right;
//     border-right: solid 4px $lines;
//     ul {
//       list-style-type: none;
//       margin-right: 14px;
//       li {
//         font-size: 2em;
//         a {
//           transition: .3s;
//         }
//         a:hover {
//           transition: .3s;
//           color: $header-color;
//         }
//       }
//     }
//     h3 {
//       padding: 0;
//       margin: 0;
//       margin-right: 14px;
//       font-size: 2em;
//       font-weight: normal;
//       color: $header-color;
//     }
//     #TableOfContents{
//       text-transform: lowercase;
//       ul {
//         margin-top: 0;
//           border-right: solid 2px $lines;
//           padding-right: .2em;
//           li {
//             font-size: 18px;
//           }
//         ul {
//           margin: 0;
//           border-right: solid 2px $lines;
//           padding-right: .2em;
//           li {
//             font-size: 18px;
//           }
//         }
//       }
//     }
//   }
//   main, main#blogi, main#muistiinpano {
//     opacity: 100%;
//     transition: .3s;
//     h2 {
//       margin: 0 0 .2em 0;
//       text-decoration: underline;
//     }
//     ul, ol {
//       margin: 0;
//       padding: 0;
//       list-style-type: none;
//       li.show-more {
//         margin-top: .2em;
//       }
//       code {
//         border: dotted 1px $header-color;
//         background: white;
//         padding: 2px;
//       }
//     }
//     h1, h2, h3, h4, h5, h6 {
//       color: $header-color;
//     }
//     h2, h3, h4, h5, h6 {
//       text-decoration: none;
//     }
//     h1 {
//       font-size: 2.6em;
//       margin-top: .5em;
//     }
//     p {
//       font-size: 1.2em;
//       code {
//         border: dotted 1px $header-color;
//         background: white;
//         padding: 2px;
//       }
//       a {
//         font-weight:bold;
//       font-size: 1em;
//         color: $header-color - 40;
//         &:hover {
//           text-decoration: underline;
//         }
//       }
//     }
//   }
//   main {
//     color: $text-color;
//     article {
//       padding-left: 2em;
//       padding-top: 1em;
//       padding-right: 25%;
//       &:hover > h1 {
//         border-left: solid 8px $lines;
//         padding-left: 8px;
//         transition: .3s ease-out;
//       }
//     }
//     a {
//       color: $text-color;
//       font-size: 1em;
//     }
//     ul, ol {
//       font-size: 1.2em;
//       margin: 1em 0 1em 2em;
//       list-style: revert;
//     }
//     h1 {
//       margin-bottom: 0;
//       padding-bottom: 0;
//       transition: .2s;
//       border-left: solid 0px $lines;
//     }
//     section.footnotes {
//       hr {
//         display: none;
//       }
//       ol {
//         margin: 0 1.5em 2em 1.5em;
//         font-size: 1em;
//         li p {
//           margin: 0;
//           font-size: 1em;
//           // font-size: .8em;
//           .footnote-backref {
//             font-size: .7em;
//           }
//         }
//       }
//     }
//     .footnote-ref {
//       font-size: .7em;
//     }
//     .highlight {
//       pre {
//         padding: 1em;
//       }
//     }
//     .info {
//       display: flex;
//       flex-direction: row;
//       flex-wrap: wrap;
//       background-color: $main-bg;
//       .item {
//         position: relative;
//         border: dotted 2px $lines;
//         border-left: none;
//         padding: .5em 1.1em .5em 3.1em;
//         color: $hilight-on-dark;
//         white-space: nowrap;
//         svg {
//           position: absolute;
//           top: 8px;
//           left: 10px;
//         }
//         .description {
//           font-size: 14px;
//         }
//         .fact {
//           color: $header-color;
//           a {
//             color: $header-color;
//           }
//         }
//       }
//     }
//     &#blogi, &#muistiinpano {
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: flex-start;
//       align-items: flex-start;
//       background-color: $main-bg;
//       .card {
//         padding: 1.1em;
//       }
//       a {
//         color: $hilight-on-dark;
//         transition: .5s;
//         &:hover {
//           color: $header-color;
//           transition: .5s;
//           padding-left: 8px;
//         }
//       }
//       h2 > a {
//         border: none;
//         padding: 0;
//         color: $header-color;
//         &:hover {
//           border: none;
//           padding: 0;
//         }
//       }
//     }
//   }
// }

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
