<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {{ $styles := resources.Get "scss/index.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="all">
    <title>Mahti.org</title>
  </head>
  <body>
    <nav class="header">
      <div class="nav-left"></div>
      <div class="nav-center">
        <ul>
          <a href="/"><li><span></span><span>blogisyöte</span></li></a>
          <a class="menu-item" href="javascript:;" onclick="displayMenu('blogit')"><li><span></span><span>blogit</span></li></a>
          <a class="menu-item" href="javascript:;" onclick="displayMenu('muistiinpanoja')"><li><span></span><span>muistiinpanoja</span></li></a>
        </ul>
      </div>
      <div class="nav-right"></div>
    </nav>
    <div class="container">
      <!-- <nav class="sidebar"> -->
      <!--   <ul> -->
      <!--     <li><a href="/">blogisyöte</a></li> -->
      <!--     <li><a href="/blogit">blogit</a></li> -->
      <!--     <li><a href="/muistiinpanoja">muistiinpanoja</a></li> -->
      <!--   </ul> -->
      <!--   {{ if eq .Type "muistiinpano" }} -->
      <!--   <h3>jäsennys</h3> -->
      <!--   {{ .TableOfContents }} -->
      <!--   {{ end }} -->
      <!-- </nav> -->


      <nav id="blogit" class="groups">
        {{ range $key, $value := .Site.Taxonomies.blogit }}
        <div class="group-card">
          <h2>{{ $key | humanize }}</h2>
          <ul>
            {{ range first 5 $value }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
            {{ if gt (len $value) "5" }}
            <li class="show-more"><a href="{{ $key | urlize }}">näytä lisää ({{ len $value }})</a></li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </nav>

      <nav id="muistiinpanoja" class="groups">
        {{ range $key, $value := .Site.Taxonomies.muistiinpanoja }}
        <div class="group-card">
          <h2>{{ $key | humanize }}</h2>
          <ul>
            {{ range sort $value }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </nav>
      <main id="main">
        {{ block "main" . }}{{ end }}
      </main>
    </div>

    <script type="text/javascript">
      let resizeTimer;
      window.addEventListener("resize", () => {
        document.body.classList.add("resize-animation-stopper");
        clearTimeout(resizeTimer);
        resizeTimer = setTimeout(() => {
          document.body.classList.remove("resize-animation-stopper");
        }, 400);
      });

    </script>

    {{ $ts := resources.Get "ts/main.ts" | babel }}
    {{ $js := slice $ts | resources.Concat "js/main.js" }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

  </body>
</html>
