<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {{ $styles := resources.Get "scss/index.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="all">
    <title>Mahti.org</title>
  </head>
  <body>
    <nav class="header">
      <div class="nav-left">
        <h1><a href="/">Mahti.org</a></h1>
      </div>
      <div class="nav-center">
        <ul>
          <a class="menu-item" href="javascript:;" onclick="displayMenu('blogit')"><li><span></span><span>blogit</span></li></a>
          <a class="menu-item" href="javascript:;" onclick="displayMenu('muistiinpanoja')"><li><span></span><span>muistiinpanoja</span></li></a>
          <a class="menu-item" href="javascript:;" onclick="displayMenu('kirjoittajat')"><li><span></span><span>kirjoittajat</span></li></a>
        </ul>
      </div>
      <div class="nav-right"></div>
    </nav>
    <div class="container">

      <nav id="blogit" class="groups">
        {{ range $key, $value := .Site.Taxonomies.blogit }}
        <div class="group-card">
          <h2>{{ $key | humanize }}</h2>
          <ul>
            {{ range first 5 $value }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              {{ with .PublishDate }}
              <span class="groups--date">{{ .Format "02.01.2006" }}</span>
              {{ end }}
            </li>
            {{ end }}
            {{ if gt (len $value) "5" }}
            <li class="show-more"><a href="/blogit/{{ $key | urlize }}">näytä lisää ({{ len $value }}) ...</a></li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </nav>

      <nav id="muistiinpanoja" class="groups">
        {{ range $key, $value := .Site.Taxonomies.muistiinpanoja }}
        <div class="group-card">
          <h2>{{ $key | humanize }}</h2>
          <ul>
            {{ range sort $value }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              <span class="groups--date">{{ .Lastmod.Format "02.01.2006" }}</span>
            </li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </nav>

      <nav id="kirjoittajat" class="groups">
        <div class="group-card">
          <span class="info gredu">Bloggaa kommuuniasumisesta, teknologiasta ja ohjelmoinnista. Tanssii, retkeilee ja välillä laskettelee.</span>
          <img src="https://raw.githubusercontent.com/Gredu/cv.mahti.org/master/static/greatman-lim.jpg" alt="Greatman Lim">
          <h2>Greatman Lim</h2>
          <span class="email">etunimi.sukunimi@mahti.org</span>
          <div class="writer-info">
          </div>
        </div>
      </nav>


      <main id="main">
        {{ block "main" . }}{{ end }}
      </main>
    </div>

    <script type="text/javascript">
      let resizeTimer;
      window.addEventListener("resize", () => {
        document.body.classList.add("resize-animation-stopper");
        clearTimeout(resizeTimer);
        resizeTimer = setTimeout(() => {
          document.body.classList.remove("resize-animation-stopper");
        }, 400);
      });

    </script>

    {{ $ts := resources.Get "ts/main.ts" | babel }}
    {{ $js := slice $ts | resources.Concat "js/main.js" }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

  </body>
</html>
