<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {{ $styles := resources.Get "scss/index.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="all">
    <title>Mahti.org</title>
  </head>
  <body>
    <nav>
      <div class="nav-left"></div>
      <div class="nav-center">
        <ul>
          <a href="/"><li><span>SVG</span><span>blogisyöte</span></li></a>
          <a href="/blogit"><li><span>SVG</span><span>blogit</span></li></a>
          <a href="/muistiinpanoja"><li><span>SVG</span><span>muistiinpanoja</span></li></a>
        </ul>
      </div>
      <div class="nav-right"></div>
    </nav>
    <div class="container">
      <!-- <nav class="sidebar"> -->
      <!--   <ul> -->
      <!--     <li><a href="/">blogisyöte</a></li> -->
      <!--     <li><a href="/blogit">blogit</a></li> -->
      <!--     <li><a href="/muistiinpanoja">muistiinpanoja</a></li> -->
      <!--   </ul> -->
      <!--   {{ if eq .Type "muistiinpano" }} -->
      <!--   <h3>jäsennys</h3> -->
      <!--   {{ .TableOfContents }} -->
      <!--   {{ end }} -->
      <!-- </nav> -->
      {{ block "main" . }}{{ end }}
    </div>

    <script>
      let resizeTimer;
      window.addEventListener("resize", () => {
        document.body.classList.add("resize-animation-stopper");
        clearTimeout(resizeTimer);
        resizeTimer = setTimeout(() => {
          document.body.classList.remove("resize-animation-stopper");
        }, 400);
      });
    </script>

  </body>
</html>
