{{ define "main" }}

      <!-- <main id="blogi" style="display: none;"> -->
      <main id="blogi">

        {{ range $key, $value := .Site.Taxonomies.blogit }}
        <div class="card">
          <h2>{{ $key | humanize }}</h2>
          <ul>
          {{ range first 5 $value }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
          {{ if gt (len $value) "5" }}
          <li class="show-more"><a href="{{ $key | urlize }}">näytä lisää ({{ len $value }})</a></li>
          {{ end }}
          </ul>
        </div>
        {{ end }}

      </main>

{{ end }}
