{{ define "main" }}
<article class="article--blog">
  {{ .Data.Terms }}
  <h1>
    {{ .Title }}
  </h1>
  <ul class="side-info">
    <li>
      <div>
        {{ with .PublishDate }}
        {{ .Format "02.01.2006" }}
        {{ end }}
      </div>
      <div class="icon">
        {{ partial "icons/icon" (dict "vendor" "lucide" "name" "calendar") }}
      </div>
    </li>
    <li>
      <div>
        {{ if lt .ReadingTime 2 }}
        alle minuutti
        {{ else }}
        {{ .ReadingTime }} minuuttia
        {{ end }}
      </div>
      <div class="icon">
        {{ partial "icons/icon" (dict "vendor" "lucide" "name" "clock") }}
      </div>
    </li>
    <li>
      <div>
        {{ range .Params.blogit }}
        {{ . }}
        {{ end }}
      </div>
      <div class="icon">
        {{ partial "icons/icon" (dict "vendor" "lucide" "name" "box") }}
      </div>
    </li>
  </ul>
  {{ $headerInfoSize := "24px" }}
  <div class="header-info for-small-screen">
    {{ $headerInfoIconSize := 24 }}
    {{ with .PublishDate }}
    <div class="header-info--item">
      {{ partial "icons/icon" (dict "vendor" "lucide" "name" "calendar") }}
      <span>{{ .Format "02.01.2006" }}</span>
    </div>
    {{ end }}
    <div class="header-info--item">
      {{ partial "icons/icon" (dict "vendor" "lucide" "name" "user-round") }}
      <span>{{ .Params.Author }}</span>
    </div>
    <div class="header-info--item">
      {{ partial "icons/icon" (dict "vendor" "lucide" "name" "clock") }}
      <span>
        {{ if lt .ReadingTime 2 }}
        alle minuutti
        {{ else }}
        {{ .ReadingTime }} minuuttia
        {{ end }}
      </span>
    </div>
  </div>
  {{ .Content }}
  <div class="next-article">
    <div class="next-article--left">
      {{ with .NextInSection }} 
      <a class="item-left" href="{{ .Permalink }}">
        <div>
          {{ partial "icons/icon" (dict "vendor" "lucide" "name" "circle-arrow-left" "class" "float-left") }}
        </div>
        <div class="description">seuraava sivu</div>
        <span class="title">{{ .Title }}</span>
      </a>
      {{ end }}
    </div>
    <div class="next-article--right">
      {{ with .PrevInSection }} 
      <a class="item-right" href="{{ .Permalink }}">
        <div>
          {{ partial "icons/icon" (dict "vendor" "lucide" "name" "circle-arrow-right" "class" "float-right") }}
        </div>
        <div class="description">edellinen sivu</div>
        <span class="title">{{ .Title }}</span>
      </a>
      {{ end }}
    </div>
  </div>

</article>
{{ end }}
{{ end }}
