<article class="article--blog no-underline">
  <h1><a href="{{ .Permalink }}" class="no-underline">{{ .Title }}</a></h1>
  <div class="header-info">
    <div class="header-info--item">
      {{ $headerInfoIconSize := 18 }}
      {{ partial "icons/icon" (dict "vendor" "lucide" "name" "feather") }}
      <span>{{ .PublishDate.Format "02.01.2006" }}</span>
    </div>
    <div class="header-info--item">
      {{ partial "icons/icon" (dict "vendor" "lucide" "name" "clock") }}
      <span>
        {{ if lt .ReadingTime 2 }}
        alle minuutti
        {{ else }}
        {{ .ReadingTime }} minuuttia
        {{ end }}
      </span>
    </div>
    <div class="header-info--item">
      {{ partial "icons/icon" (dict "vendor" "lucide" "name" "box") }}
      <span>
        {{ range .Params.blogit }}
        {{ . }}
        {{ end }}
      </span>
    </div>
  </div>
</article>
